#game-arena {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
}
.arena-row {
	display: flex;
	flex-direction: row;
	width: fit-content;
	height: 35px;
}
.arena-colum {
	height: 35px;
	width: 35px;
	border: 1px solid grey;
}
body {
	display: flex;
	flex-direction: row;
}
#start-stop {
	position: absolute;
	left: 45%;
	width: 100px;
	height: 40px;
	border: 1px solid grey;
	background-color: grey;
}
